<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating" >Nombre</ion-label>
          <ion-input FormControlName="nombre" ></ion-input>
        </ion-item>  
        <ion-item>
          <ion-label position="floating" >Contraseña</ion-label>
          <ion-input FormControlName="contraseña" type="password" ></ion-input>
        </ion-item>  
      </form>
      <br>
      <!-- (click)='ingresar()' -->
       <ion-button>
        Ingresar
       </ion-button>
       <!-- (click)='ingresar()' -->
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registro']" >Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
